*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cardFlex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cardFlex h3{
    margin-top:15%;
}
.cardFlex img{
    margin-top: -5%;
    
}



.card{
    margin: auto;
    border-radius: 10px;
}
.card-body{
    padding: 4%;
}

.more-info-container{
    /* background: rgba(135, 207, 235, 0.514); */
    font-size: 10px;
    padding: 2%;
    font-family: monospace;
    /* border: 1px solid black; */
}
.more-info-container p{
    margin-top: -5%;
    font-weight: bolder;
    margin-left: 1.3%;
    font-size: 12px;
    color: black;
}
body{
    background-image: url('./Images/unnamed.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
}
.btn {
    width: 130px;
    height: 40px;
    font-size: 1.1em;
    cursor: pointer;
    background-color: #171717;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all .4s;
    margin-top: 1%;
   }
   
   
   .btn:hover {
       border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #f85959,
     0 15px 0 -4px #39a2db,
     0 16px 10px -3px #39a2db;
   }
   .delete-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 5px;
    background-color: rgb(255, 95, 95);
    cursor: pointer;
    border: 1px solid rgb(255, 201, 201);
    transition-duration: 0.3s;
    margin-left: auto;
  }
  .bin-bottom {
    width: 15px;
}
  .bin-top {
    width: 17px;
    transform-origin: right;
    transition-duration: 0.3s;
  }
  .delete-button:hover .bin-top {
    transform: rotate(75deg);
  }
  .delete-button:hover {
    background-color: rgb(255, 0, 0);
  }
  .delete-button:active {
    transform: scale(1);
  }
  
   .btn:active {
       transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #f85959,
     0 8px 0 -4px #39a2db,
     0 12px 10px -3px #39a2db;
   }
.input {
    border: none;
    max-width: 700px;
    margin: auto;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
  }
  
  .input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
  }
.form-but{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
}
.form-but button{
    padding: 0.5%;
    border: 1px solid green;
    font-size: 13px;
    font-weight: lighter;
    font-family: monospace;
    background: rgba(0, 0, 255, 0.705);
}
.form-but button:hover{
    padding: 0.5%;
    border: 1px solid blue;
    font-size: 13px;
    font-weight: lighter;
    font-family: monospace;
    background: gainsboro;
}
form label{
 margin-left: 38%;
 font-weight: bolder;
 font-family: monospace;
 font-size: 25px;
 margin-bottom: 0.3%;
 color: white;
}
.card{
    background-image: url('./Images/beautiful-blue-sky_23-2147609755.avif');
    background-size: cover;
    margin-top: 2%;
}
.FG{
    display: flex;
    flex-direction:column;
}
.more-info-button{
    font-size: 13px;
    font-weight: lighter;
    font-family:'Times New Roman', Times, serif;
    color: rgba(0, 0, 255, 0.616);
    /* text-decoration: underline; */
    border: none;
    /* border-bottom: 1px solid blue; */
    border-radius: 5px;
}
.more-info-button i{
    margin-top: 1%;
    color: rgba(0, 0, 255, 0.616);
}
.more-info-container h4{
    font-size: 14px;
    padding: 1%;
    font-weight: bolder;

}

.more-info-container h6{
    font-size: 14px;
    font-weight: bolder;
padding: 1%;
}

.card-body h4{
    font-weight: 450;

}

.last h5{
    font-weight: lighter;
    font-size: 11px;
    text-align: end;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    margin-top: -2%;
}



body {
	margin: 0;
	display: grid;
	place-items: center;
	background-color: #222;
	font-family: system-ui, sans-serif;
}

nav,
.nav-item {
	display: flex;
}

nav {
	border-radius: 6px;
	background-image: linear-gradient(
		rgb(48, 48, 48) 13%,
		rgb(30, 30, 30) 40%,
		#0c0d11 86%
	);
	color: rgba(255, 255, 255, 0.6);
	text-shadow: 0 -2px 0 black;
	cursor: pointer;
	box-shadow: 1px 2px 4px rgb(20, 20, 20), 0 4px 12px rgb(10, 10, 10);
}

.nav-item {
	flex-direction: row-reverse;
	font-size: 0.8999rem;
	line-height: 1rem;
	align-items: center;
	min-width: 120px;
	justify-content: space-between;
	transition: all 80ms ease;

	&.active {
		color: $primary;
		text-shadow: 0 0 3px hsla(260, 100%, 70%, 0.7);
	}

	&:not(.active):hover {
		color: rgba(255, 255, 255, 0.87);
	}

	&:hover > .icon .subicon {
		height: 32px;
		width: 32px;
		border-radius: 32px;
		top: -16px;
		right: -16px;
		border-color: white;
	}

	&:not(:first-of-type) {
		border-left: 1px solid rgb(60, 60, 60);
	}
	&:not(:last-of-type) {
		border-right: 0.1rem solid black;
	}

	a {
		color: inherit;
		text-decoration: none;
		padding: 1ch;
	}

	.icon {
		padding: 1ch;
		position: relative;

		.subicon {
			text-shadow: none;
			transition: all 40ms ease;
			position: absolute;
			top: -3px;
			right: -3px;
			background: red;
			color: white;
			box-shadow: 0 0 4px rgba(41, 41, 41, 0.405);
			width: 18px;
			height: 18px;
			border-radius: 14px;
			font-size: 0.7em;
			font-weight: 700;
			display: inline-grid;
			place-items: center;
			border: 2px solid mix(white, red);
		}
	}

	.icon > svg {
		max-width: 16px;
	}
}

