*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cardFlex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cardFlex h3{
    margin-top:15%;
}
.cardFlex img{
    margin-top: -5%;    
}



.card{
  margin: auto;
    border-radius: 10px;
}
.card-body{
    padding: 4%;
}

.more-info-container{
    font-size: 10px;
    padding: 2%;
    font-family: monospace;
}
.more-info-container p{
    margin-top: -5%;
    font-weight: bolder;
    margin-left: 1.3%;
    font-size: 12px;
    color: black;
}
body{
    background-image: url('./Images/OIP\ \(8\).jpeg');
    background-size: 100%;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -5%;
}
.btn {
    width: 130px;
    height: 60px;
    font-size: 1.1em;
    cursor: pointer;
    background-color: #171717;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all .4s;
    margin-top: 1%;
   }
   
   
   .btn:hover {
       border-radius: 5px;
       transform: translateY(-10px);
       box-shadow: 0 7px 0 -2px #f85959,
       0 15px 0 -4px #39a2db,
       0 16px 10px -3px #39a2db;
   }
   .delete-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(255, 95, 95);
    cursor: pointer;
    border: 1px solid #ccc;
    transition-duration: 0.3s;
    margin-top: 3%;
    margin-left: 82%;
  }
  .bin-bottom {
    width: 8px;
}
  .bin-top {
    width: 8px;
    transform-origin: right;
    transition-duration: 0.3s;
  }
  .delete-button:hover .bin-top {
    transform: rotate(55deg);
  }
  .delete-button:hover {
    background-color: rgb(255, 0, 0);
  }
  .delete-button:active {
    transform: scale(1);
  }
  
   .btn:active {
       transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #f85959,
     0 8px 0 -4px #39a2db
     0 12px 10px -3px #39a2db;
   }
.input {
    border: none;
    margin: auto;
    color: black;
    outline: none;
    font-family: monospace;
    font-weight: bolder;
    border-radius: 15px;
    padding: 1em;
    background-image: url('./Images/beautiful-blue-sky_23-2147609755.avif');
    background-size: cover;
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5), 
inset -4px -4px 6px 0 rgba(255,255,255,.2),
inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    transition: 300ms ease-in-out;
  }
  
  .input:focus {
    background-color: white;
    /* transform: scale(1.05); */
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
  }
.form-but{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form-but button{
    border: 1px solid green;
    font-size: 17px;
    font-weight: bolder;
    color: white;
    font-family: monospace;
    background-image: url('./Images/beautiful-blue-sky_23-2147609755.avif');
    background-size: cover;
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5), 
inset -4px -4px 6px 0 rgba(255,255,255,.2),
inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}
.form-but button:hover{
    padding: 0.5%;
    border: 1px solid blue;
    font-size: 13px;
    font-weight: lighter;
    font-family: monospace;
    background: gainsboro;
}

.card{
  background-image: url('./Images/beautiful-blue-sky_23-2147609755.avif');
    background-size: cover;
}
.FG{
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.more-info-button{
    font-size: 13px;
    font-weight: lighter;
    border-radius: 10px;
    width: auto;
    margin: auto;
    font-family:'Times New Roman', Times, serif;
    color: black;
    /* text-decoration: underline; */
    border: none;
    /* border-bottom: 1px solid blue; */
    /* border-radius: 5px; */
}
.more-info-button i{
    margin-top: 1%;
    color: black;
}
.more-info-container h4{
    font-size: 14px;
    padding: 1%;
    font-weight: bolder;

}

.more-info-container h6{
    font-size: 14px;
    font-weight: bolder;
    padding: 1%;
}

.card-body h4{
    font-weight: 450;

}

.last h5{
    font-weight: lighter;
    font-size: 11px;
    text-align: end;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    margin-top: -2%;
}



body {
	margin: 0;
	display: grid;
	place-items: center;
	background-color: #222;
	font-family: system-ui, sans-serif;
}

nav,
.nav-item {
	display: flex;
}

nav {
	border-radius: 6px;
	background-image: url('./Images/beautiful-blue-sky_23-2147609755.avif');
    background-size: cover;
	color: rgba(255, 255, 255, 0.6);
	cursor: pointer;
}

.nav-item {
	flex-direction: row-reverse;
	font-size:15px;
  /* font-weight: bolder; */
	line-height: 1rem;
	align-items: center;
	min-width: 40px;
	justify-content: space-between;
	transition: all 80ms ease;
    
}
.nav-item a{
text-decoration: none;
color: white;
}
.nav-item a:hover{
    color:black;
    }
	&.active {
		text-shadow: 0 0 3px hsla(260, 100%, 70%, 0.7);
	}

	&:not(.active):hover {
		color: rgba(255, 255, 255, 0.87);
	}

	&:hover > .icon .subicon {
		height: 32px;
		width: 32px;
		border-radius: 32px;
		top: -16px;
		right: -16px;
		border-color: white;
	}

	&:not(:first-of-type) {
		border-left: 1px solid rgb(60, 60, 60);
	}
	&:not(:last-of-type) {
		border-right: 0.1rem solid black;
	}

	a {
		color: inherit;
		text-decoration: none;
		padding: 1ch;
	}

	.icon {
		padding: 1ch;
		position: relative;

		.subicon {
			text-shadow: none;
			transition: all 40ms ease;
			position: absolute;
			top: -3px;
			right: -3px;
			background: red;
			color: white;
			box-shadow: 0 0 4px rgba(41, 41, 41, 0.405);
			width: 20px;
			height: 20px;
			border-radius: 10px;
			font-size: 24px;
			font-weight: 700;
			display: inline-grid;
			place-items: center;
			border: 2px solid mix(white, red);
		}
	}

	.icon > svg {
		max-width: 20px;
	}


.hr{
    display: flex;
    flex-direction: row;
}
#city{
  width: 50vw;
}

button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  button:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }

/* ////////////////////////////////   */

.social-links,.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-btn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-family: 'Titillium Web', sans-serif;
    color: #333;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    background: white;
    margin: 5px;
    transition: 0.3s;
    justify-content: center;
  }
  
  .social-btn svg {
    height: 24px;
    width: 24px;
  }
  
  .social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
    margin-left: 5px;
  }
  
  .social-btn:hover {
    width: 150px;
    border-radius: 5px;
  }
  
  .social-btn:hover span {
    padding: 2px;
    width: 80px;
  }
  
  #twitter svg {
    fill: #1da1f2;
  }
  
  #linkedin svg {
    fill: #0e76a8;
  }
  
  #github {
    fill: #333;
  }
  
  

   /* /////////////////////////////////////////////////   More Info */
  .cCard{
    border-radius: 10px;
    text-shadow: 2px 2px 4px white;
    padding: 1%;
    width: 50vw;text-align: center;font-size: 25px;background-image: url('./Images/beautiful-blue-sky_23-2147609755.avif');
background-size: cover;;box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
-4px -4px 6px 0 rgba(116, 125, 136, .5), 
inset -4px -4px 6px 0 rgba(255,255,255,.2),
inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }


#Read{
  padding: 1%;
  /* background-image: url('./Images/beautiful-blue-sky_23-2147609755.avif'); */
/* background-size: cover; */
box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
-4px -4px 6px 0 rgba(116, 125, 136, .5), 
inset -4px -4px 6px 0 rgba(255,255,255,.2),
inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}
#Read span{
  color: black;
  padding: 5px;
  font-size: 18px;
}

  /* /////////////////////////////////////// */
  .Aa{
    text-decoration: none;
  }
  /* <main-style> ============================ */
  .scroll-up {
    /* position: fixed; */
    right: 3rem;
    bottom: -50%;
    z-index: 10;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-color: rgba(0, 0, 240, 0.7);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: bottom .4s, transform .4s;
  }
  
  .scroll-up:hover {
    transform: translateY(-.25rem);
  }
  
  /* Show scroll-up */
  ._show-scroll {
    bottom: 3rem;
  }
  
  @media (max-width: 1199.98px) {
    .scroll-up {
      right: 1rem;
    }
  }


  /* ////////////////////////////////////////////////////////////////
   */

  .delE{
    padding: 9%;
    border-radius: 10px;
    background-image: url('./Images/beautiful-blue-sky_23-2147609755.avif');
    background-size: cover;
    margin-top: 5%;
    
  }
 

  .caRd {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.caRd-title {
    font-size: 1.5em;
    margin-bottom: 8px;
}
.caRd-content {
    font-size: 1em;
    color: #555;
}

.cado{
  padding: 2%;
  border: 1px solid white;
  margin-top: 1%;
}

#cards-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 1%;
}
.cardp{
  padding: 5%;
  margin-top: 5%;
  box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  color: black;
  border: 1px solid white;
  border-radius: 10px;
  width:50vw;
  background-image: url('./Images/beautiful-blue-sky_23-2147609755.avif');
    background-size: cover;
text-align: center;
}
.Yt{
  font-size: 25px;
  font-weight: bolder;
}
.card-content{
  text-align: center;
}
.Yh{
  font-weight: bolder;
}
.Yu{

  padding: 1%;
  color: white;
  border: none;
  font-size: 25px;
  font-weight: lighter;
  border-radius: 10px;
  text-align: center;
}
.Yp{
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* /////////////////////////////////////////////////////////////////////// */
.del {
  position: relative;
  top: 0;
  left: 0;
  width: 160px;
  height: 50px;
  margin: auto;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.del div {
  margin-top: 1%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  letter-spacing: 1px;
  color: #ff0000;
  z-index: 1;
  transition: .6s;
}

.del:hover div {
  letter-spacing: 4px;
  color: #fff;
  background: #ff0000;
}




#lp{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 1%;
}

.card-client {
  background-image: url('./Images/beautiful-blue-sky_23-2147609755.avif');
    background-size: cover;
  width:50vw;
  padding-top: 25px;
  margin-top: 2%;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid black;
  box-shadow: 0 6px 10px #212121;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.card-client:hover {
  transform: translateY(-10px);
}

.user-picture {
  overflow: hidden;
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  border: 1px solid black;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.user-picture svg {
  width: 2.5rem;
  fill: currentColor;
}

.name-client {
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}
#span{
  text-align: start;
  padding: 1%;
  border-radius: 10px;
  color: black;
  font-weight: lighter;
  /* display:inline-block ; */
}
#spantwo{
  text-align: start;
  padding: 1%;
  border-radius: 10px;
  font-weight: lighter;
  color: black;
  /* display:inline-block ; */
}
.name-client span {
  display: block;
  font-weight: 200;
  font-size: 16px;
}

.social-media:before {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background: #fff;
}

.social-media a {
  position: relative;
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
}

.social-media a:last-child {
  margin-right: 0;
}

.social-media a svg {
  width: 1.1rem;
  fill: currentColor;
}

/*-- Tooltip Social Media --*/
.tooltip-social {
  background: #262626;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0.5rem 0.4rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -90%);
  transition: all 0.2s ease;
  z-index: 1;
}

.tooltip-social:after {
  content: " ";
  position: absolute;
  bottom: 1px;
  left: 50%;
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}

.social-media a .tooltip-social:after {
  border-top-color: #262626;
}

.social-media a:hover .tooltip-social {
  opacity: 1;
  transform: translate(-50%, -130%);
}
.p{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#edit{
  font-weight: lighter;
  padding: none;
}
#gh{
  text-align: end;
}
.log{
  margin-top: 1%;
}
#log{
  border: 1px solid blue;
  color:black;
  padding: 1%;
  text-shadow: 2px 2px 4px white;
  box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
  -4px -4px 6px 0 rgba(116, 125, 136, .5), 
inset -4px -4px 6px 0 rgba(255,255,255,.2),
inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  border-radius: 10px;
  background-image: url('./Images/beautiful-blue-sky_23-2147609755.avif');
  background-size: cover;
}
#log:hover{
background: blue;
}
.hsix h6{
  color:black;font-weight: lighter;text-align: center;font-family: monospace;margin-top: 1%;font-size: 20px;background: white;padding: 1%;border-radius: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 255, 0.404);
  box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);

}
.hsix{
  width:50vw; 
  
}
.divIm img{
  width: 50vw;height: 25vh;border-radius: 10px;margin-top: 10px;
  box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}
@media(max-width:797px){
  .hsix h6{
    font-size: 10px;
  } 
  .divIm img{
    width: 50vw;height: 20vh;border-radius: 10px;margin-top: 10px;
  } 
}

.commonCard{
  border: 1px solid black;
  background-image: url('./Images/beautiful-blue-sky_23-2147609755.avif');
    background-size: cover;
  border-radius: 10px;
  height:20vh;
  font-family: monospace;
  text-shadow: 2px 2px 4px white;
  box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
  -4px -4px 6px 0 rgba(116, 125, 136, .5), 
inset -4px -4px 6px 0 rgba(255,255,255,.2),
inset 4px 4px 6px 0 rgba(0, 0, 0, .4); 
  font-weight: bolder;
}
.CommonCountries{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 9px
}
.commonCard h3,p,p{
margin-top: -7%;
}
.commonCard p{
  margin-top: -13px;
}
.CArd{
  background-image: url('./Images/beautiful-blue-sky_23-2147609755.avif');
  background-size: cover; 
  padding: 2%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  width: 20rem;
  border-radius: 10px;
  margin-top: 5%;
  padding-top: 5px;
  font-weight: bolder;
  text-shadow: 2px 2px 4px white;
  box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
  -4px -4px 6px 0 rgba(116, 125, 136, .5), 
inset -4px -4px 6px 0 rgba(255,255,255,.2),
inset 4px 4px 6px 0 rgba(0, 0, 0, .4); 
}
.CArd img{
/* height: 20vh; */
margin: auto;
margin-top: -10px;
}
.resFor{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  margin-top: 4px;
}
.hhh{
  padding: none;
  background: white;
  font-weight: lighter;
  border-radius: 10px;
  font-size: 19px;
  text-shadow: 2px 2px 4px skyblue;

  box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
  -4px -4px 6px 0 rgba(116, 125, 136, .5), 
inset -4px -4px 6px 0 rgba(255,255,255,.2),
inset 4px 4px 6px 0 rgba(0, 0, 0, .4); 
}

#deleteALl{
  text-shadow: 2px 2px 4px skyblue;
  box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
  -4px -4px 6px 0 rgba(116, 125, 136, .5), 
inset -4px -4px 6px 0 rgba(255,255,255,.2),
inset 4px 4px 6px 0 rgba(0, 0, 0, .4); 
background-image: url('./Images/beautiful-blue-sky_23-2147609755.avif');
  background-size: cover; 
}